FigureCalculatorClient/Service References/Service/FigureCalculator1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FigureCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IFigureCalculator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFigureCalculator_GetCircleLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCircleLength" />
  </wsdl:message>
  <wsdl:message name="IFigureCalculator_GetCircleLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCircleLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IFigureCalculator_GetCircleArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCircleArea" />
  </wsdl:message>
  <wsdl:message name="IFigureCalculator_GetCircleArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCircleAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="IFigureCalculator">
    <wsdl:operation name="GetCircleLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigureCalculator/GetCircleLength" message="tns:IFigureCalculator_GetCircleLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigureCalculator/GetCircleLengthResponse" message="tns:IFigureCalculator_GetCircleLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCircleArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigureCalculator/GetCircleArea" message="tns:IFigureCalculator_GetCircleArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigureCalculator/GetCircleAreaResponse" message="tns:IFigureCalculator_GetCircleArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IFigureCalculator" type="tns:IFigureCalculator">
    <wsp:PolicyReference URI="#WSHttpBinding_IFigureCalculator_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCircleLength">
      <soap12:operation soapAction="http://tempuri.org/IFigureCalculator/GetCircleLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCircleArea">
      <soap12:operation soapAction="http://tempuri.org/IFigureCalculator/GetCircleArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FigureCalculator">
    <wsdl:port name="WSHttpBinding_IFigureCalculator" binding="tns:WSHttpBinding_IFigureCalculator">
      <soap12:address location="http://localhost:5001/FigureCalculator" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5001/FigureCalculator</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>